{{ define "main" }}
{{ .Content }}
 
<section id="pubs" class="pubs">

<a href="publications/" class="title"><h2>Selected publications</h2></a>


{{ $dataFormat := .Site.Params.dateFormat | default "2006" }}

<ul class ="publications">
{{ range (sort (where .Site.RegularPages "Section" "in" (slice "publications")) "Date" "desc") }}  

  {{ if .Params.fave }}

  {{ if .Params.citation }}


  <li>
    <span><i><time datetime="{{ time .Params.publishdate }}" itemprop="datePublished">{{ .Params.publishdate.Format $dataFormat }}</time></i></span>
    
    <div>
    {{ .Params.citation | safeHTML }}  
    {{ if isset .Params "file" }}<a href="files/papers/{{ .Params.file }}">&rarr;&nbsp;PDF</a>{{ end }}&ensp; 
    
  </div>
  </li>


  {{ else }}

    <li>
      <a href="{{ .Permalink }}"> {{ .Params.title | safeHTML }} </a>
    </li>


  {{ end }}
 
  {{ end }}
{{ end }}  
</ul> 


</section>

{{ end }}


