{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}

<h4 class="citation">{{.Params.author}}. {{ .Params.citation | safeHTML }}</h4>
<h4>
          {{ if .Params.doi }}<a href="http://dx.doi.org/{{.Params.doi}}">doi:{{.Params.doi}}</a>{{ end }}
          {{ if .Params.link }}<a href="{{.Params.link}}">Link ({{ .Params.outlet }})</a>{{ end }} 
          {{ if .Params.file }}<a href="{{.Site.BaseURL}}files/papers/{{.Params.file}}">&nbsp; (&rarr; PDF)</a>{{ end }}
          {{ if .Params.data }}<a href="{{.Params.data}}">(&rarr; Code & data)</a>{{ end }}
          {{ if .Params.buy }} {{ .Params.buy | safeHTML }} {{ end }}
      </h4>

      <div class="meta">
        {{ if (or (isset .Site "author") (isset .Site "title"))}}
        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ if isset .Site "author" }}
              {{ .Site.Author }}
            {{ else if isset .Site "title" }}
              {{ .Site.Title }}
            {{ end }}
          </span>
        </span>
        {{ end }}

<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
